@font-face {
    font-family: "wc_mano_negra_btaregular";
    src: url('fonts/WCManoNegraBta-webfont.eot');
    src: url('fonts/WCManoNegraBta-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/WCManoNegraBta-webfont.woff') format('woff'),
         url('fonts/WCManoNegraBta-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "aleoregular";
    src: url('fonts/Aleo-Regular-webfont.eot');
    src: url('fonts/Aleo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Aleo-Regular-webfont.woff') format('woff'),
         url('fonts/Aleo-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "aleolight";
    src: url('fonts/Aleo-Light-webfont.eot');
    src: url('fonts/Aleo-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Aleo-Light-webfont.woff') format('woff'),
         url('fonts/Aleo-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
}
body {
	box-sizing: border-box;
	font-family: "aleoregular", serif;
	font-size: 16px;
	line-height: 30px;
	color: #3b3b3b;
	width: 100%; 
	margin: 0;
	padding: 0;
	overflow: auto;
}
.layout {
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.reset {
	margin: 0;
	padding: 0;
}
.dark {
	background-color: #3b3b3b;
	color: #ffffff;
}
.section-title_red-title {
	color: #ffffff;
	transform: translateY(-4px);
	display: inline-block;
	width: 155px;
	height: 75px;
	background: url("img/menu-title.jpg") no-repeat;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
}
.header {
	background-color: white;
	height: 110px;
	width: 100vw;
	box-sizing: border-box;
	padding: 0 5vw;
	position: fixed;
	top: 0;
	z-index: 3;
}
.logo {
	font-family: "wc_mano_negra_btaregular", cursive;
	font-size: 40pt;
	line-height: 60pt;
}
.logo__text_dark {
	color: #3a3a3a;
}
.logo__text_light {
	color: #ffffff;
}
.logo__points {
	color: #f34949;
} 

.main-menu__item {
	list-style: none;
	font: 14pt, "aleoregular", serif;
}
.main-menu__link {
	color: #3b3b3b;
	text-decoration: none;
	text-transform: capitalize;
}
.flex {
	display: flex;
}
.main-menu {
	width: 490px;
}
.layout_justify-space-between {
	justify-content: space-between;
}
.layout_justify-center {
	justify-content: center;
}
.layout_align-items-center {
	align-items: center;
}
.billboard {
	margin-top: 110px;
	flex-direction: column;
	height: 575px;
	width: 100%;
	box-sizing: border-box;
	line-height: 60pt;
	background-image: url("img/billboard.jpg");
	background-size: 100% 575px;
}
.billboard__slogan {
	font-family: "wc_mano_negra_btaregular", cursive;
	font-size: 100px;
	letter-spacing: -0.09em;
	text-transform: capitalize;
	text-shadow: 2px 2px 2px rgb(15, 15, 15);
}
.billboard__annotation {
	font-size: 16px;
	color: #fff;
	text-shadow: 2px 2px 2px rgb(15, 15, 15);
}
.billboard__annotation::before,
.billboard__annotation::after {
	content: "";
	display: inline-block;
	width: 40px;
	height: 1px;
	background: #ffffff;
	text-shadow: 2px 2px 2px rgb(15, 15, 15);
}
.billboard__annotation::before {
	transform: translate(-25px, -4px);
}
.billboard__annotation::after {
	transform: translate(25px, -4px);
}
.the-menu {
	flex-direction: column;
	background-color: white;
	z-index: 2;
}

.the-menu__table {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
}
.the-menu__item {
	box-sizing: border-box;
	flex-grow: 1;
	width: 50%;
	display: flex;
	padding: 2% 2%;
}
/* .the-menu__table_layout {
	flex-direction: row;
	width: 100%;
} */
.the-menu__dish-name {
	margin: 0;
	font-size: 16px;
	/* display: inline-block; */
	line-height: 20px;
	margin-right: 50px;
}

.the-menu__line {
	display: inline-block;
	width: 20px;
	height: 1px;
	background-color: #e3e1e1;
	flex-grow: 1;
	transform: translateY(10px);
}
.the-menu__block {
	display: flex;
}
.the-menu__ingredient {
	display: block;
	font-size: 12px;
	font-style: italic;
	font-weight: lighter;
	color: #b7b7b7;
	line-height: 20px;
}
.the-menu__dish
.the-menu__price {
	padding-left:40px;
	line-height: 20px;
}
.the-menu__price{
	display: inline-block;
	line-height: 1.3;
	margin-left: auto;
	vertical-align: top;
}

.btn {
	width: 132px;
	box-sizing: border-box;
	height: 35px;
	border: 1px solid #e5e3e3;
	padding: 0 12px 0 12px;
}
.btn__link {
	font-size: 14px;
	letter-spacing: 0.07em;
	text-decoration: none;
	color: #b7b7b7;
	text-transform: lowercase;
}
.btn__link::before {
	content: "";
	display: inline-block;
	height: 12px;
	width: 1px;
	background-color: #b7b7b7;
	transform: translate(85px, 2px);
}
.btn__link::after {
	content: "";
	display: inline-block;
	height: 6px;
	width: 7px;
	border: 2px solid #b7b7b7;
	border-top-style: none;
	border-right-style: none;
	transform-origin: left bottom;
	transform: translate(30px) rotate(-45deg);
}
.featured-dishes {
	flex-direction: column;
	width: 100%;
}
.featured-dishes__slider {
	flex-direction: row;
	width: 100%;
}
.featured-dishes__item {
	flex-direction: row;
	width: 230px;
	min-height: 265px;
	flex-wrap: wrap;
	align-items: flex-end;
	font-size: 14px;
	line-height: 15px;
}
.featured-dishes__photo {
	align-self: flex-start;
}
.featured-dishes__rating {
	width: 100%;
	height: auto;
}
.section-title {
	font-size: 20px;
	padding-bottom: 80px;
	letter-spacing: 0.05em;
}
.section-title_uppercase {
	text-transform: uppercase;
}
.section-title_capitalize {
	text-transform: capitalize;
}
.section-title-line::after {
	content: "";
	display: inline-block;
	width: 200px;
	height: 1px;
	background-color: #e5e3e3;
	margin-left: 15px;
	margin-bottom: 7px;
}
.gallery__photos {
	width: 100%;
	word-wrap: break-word;
}
.gallery__photo {
	float: left;
}
.section-margin {
	height: 200px;
} 
.btn-margin {
	margin-top: 40px;
}
.footer {
	min-height: 315px;
	width: 100%;
}
.footer_layout {
	margin-top: 95px;
}
.footer__block {
	min-width: 230px;
	text-align: left;
	letter-spacing: 0.05em;
	font-family: "aleolight";
}
.smaller-text {
	font-size: 14px;
}
.regular-font {
	font-family: "aleoregular";
}
.footer-menu {
	list-style: none;
}
.footer-menu__link {
	line-height: 35px;
	text-decoration: none;
	color: inherit;
	letter-spacing: inherit;
	font-family: "aleoregular";
}
.footer__link {
	text-decoration: none;
	color: inherit;
	letter-spacing: inherit;
	font-weight: bold;
	
}