$contrast-color: #3b3b3b;
$base-bg-color: #fff;
$accent-color: #f34949;
$neutral-color: #b7b7b7;

$base-font: "aleoregular", serif;
$light-font: "aleolight", serif;
$decor-font: "wc_mano_negra_btaregular", cursive;

$regular-text-size: 16px;
$smaller-text-size: 14px;
$xs-text-size: 12px;

$side-padding: 5vw;